SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
JWT_SECRET=
JWT_EXPIRATION=
JWT_SECRET_REFRESH_TOKEN=
JWT_EXPIRATION_REFRESH_TOKEN=